$blush: #448FA3; // Tags
$fandango: #EA8592; // Link accent
$magnolia: #fff; // Font color
$oxford-blue: #02182B; // Background color
$neon-blue: #0197F6; // Font color

$gradient-theme: linear-gradient(45deg, $fandango, $neon-blue);
$gradient-light: linear-gradient(
  135deg,
  transparent,
  $oxford-blue 40%,
  $oxford-blue 55%,
  transparent
);
$gradient-dark: linear-gradient(
  135deg,
  transparent,
  $magnolia 40%,
  $magnolia 55%,
  transparent
);

$breakpoint-mobile: 320px;
$breakpoint-tablet: 768px;
$breakpoint-desktop: 1200px;
$breakpoint-full: 1920px;

$font-name: "Signika Negative";
$font: $font-name, sans-serif;

$bounce: cubic-bezier(0.68, -0.55, 0.27, 1.55);
