@import "theme";
@font-face {
  font-family: $font-name;
  src: url("./Signika_Negative/SignikaNegative-Regular.ttf");
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: $font-name;
  src: url("./Signika_Negative/SignikaNegative-Light.ttf");
  font-style: normal;
  font-weight: 300;
}
@font-face {
  font-family: $font-name;
  src: url("./Signika_Negative/SignikaNegative-SemiBold.ttf");
  font-style: normal;
  font-weight: 600;
}
@font-face {
  font-family: $font-name;
  src: url("./Signika_Negative/SignikaNegative-Bold.ttf");
  font-style: normal;
  font-weight: 700;
}
html {
  scroll-behavior: smooth;
}
body {
  margin: unset;
  min-width: $breakpoint-mobile;
  min-height: 100vh;
  position: relative;
  background-color: $magnolia;
  font-family: $font;
}
del {
  text-decoration-color: $oxford-blue;
}
main {
  background-image: $gradient-light, $gradient-theme;
  background-clip: text;
  color: transparent;
  padding: 48px 48px 192px 16px;
  position: relative;
  max-width: $breakpoint-desktop;
  margin: 0 auto;
  a,
  button {
    color: inherit;
    cursor: pointer;
    border: none;
    background: none;
    font: inherit;
    &:not(.nofx) {
      border-radius: 0;
      transition: background-size 240ms $bounce, color 240ms $bounce,
        border-radius 240ms $bounce, margin 240ms linear, padding 240ms linear;
      background-image: $gradient-theme;
      background-size: 100% 2px;
      background-position: bottom;
      background-repeat: no-repeat;
      text-decoration: none;
      padding: 0;
      margin: 2px 4px;
      &:hover {
        background-size: 100% 100%;
        color: $magnolia;
        margin: 0;
        padding: 2px 4px;
        border-radius: 4px;
      }
    }
  }
  button:not(.inline) {
    display: block;
    &,
    &:hover {
      margin-left: auto;
    }
  }
  @media (min-width: $breakpoint-desktop) {
    padding: 32px 128px 128px;
  }
}
.phonetic {
  font-family: Arial, Helvetica, sans-serif;
}
@media (prefers-color-scheme: dark) {
  body {
    background-color: $oxford-blue;
  }
  main {
    background-image: $gradient-dark, $gradient-theme;
  }
  del {
    text-decoration-color: $magnolia;
  }
}
@media (min-width: 768px) {
  h2 {
    font-size: 56px;
  }
  h3 {
    font-size: 30px;
  }
}
